.idea
.idea/*
.vscode

.DS_Store
Thumbs.db

.env
*.env
infra/docker/.env

node_modules/
dist/
.output/

target/
build/
*.class
.mvn/
.gradle/

database/backups/*
!database/backups/.gitkeep

infra/docker/data/