.idea
.idea/**/*
.idea/workspace.xml
.idea/astronomic-catalog.iml
.idea/modules.xml
.idea/vcs.xml
.idea/.gitignore
.idea/vcs.xml
.idea/modules.xml
.vscode

.DS_Store
Thumbs.db

.env
*.env
infra/docker/.env

node_modules/
dist/
.output/

target/
build/
*.class
.mvn/
.gradle/

database/backups/*
!database/backups/.gitkeep

infra/docker/data/

mysql_data/
queries/