---
import Layout from "../layouts/Layout.astro";
import CreateObjectForm from "../components/CreateObjectForm.svelte";

const API_URL = import.meta.env.API_BACKEND || "http://localhost:3000";
---

<Layout title="Astronomic Catalog - Add Object">
  <div class="max-w-2xl mx-auto py-8">
    <CreateObjectForm client:load apiUrl={API_URL} />
  </div>
</Layout>
